body {
    color:brown;
    background-color: beige;
    font-family:Georgia, 'Times New Roman', Times, serif
}
menu {
    display: flex;
    justify-content: space-evenly;
    list-style-type:armenian;
    align-items:center;
    padding: 20px;
}
a {
    color: burlywood;
    text-decoration: none;
}
IMG{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid burlywood;
}

.center {
    text-align: center;
}

h1 {
    color: burlywood;
}

h2 {
    align-items: center;
    color: rgb(223, 175, 113);
}

p {
    align-items: center;
    color: rgb(223, 175, 113);
}
